---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
import ImgTekstGalleri from "../components/ImgTekstGalleri.astro";
---

<Layout>
  <Header />
  <main>
    <!-- HEERO -->
    <h1>galleri <span class="unika_lodret">unika</span></h1>

    <!-- GALLERI -->
    <div class="grid">
      <div class="felt1">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg1.jpg"
          alt=""
          title="Titel 1"
        />
      </div>

      <div class="felt2">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg2.png"
          alt=""
          title="Titel 2"
        />
      </div>
      <div class="felt3">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg3.png"
          alt=""
          title="Titel 3"
        />
      </div>

      <!-- SROLLBAR -->
      <div class="felt4">
        <span class="scroll-title">Scroll</span>
        <div class="scroll_produkt">
          <img src="/src/assets/mobilimg4.png" alt="placeholder" />
        </div>
        <div class="scroll_produkt">
          <img src="/src/assets/mobilimg4.png" alt="placeholder" />
        </div>
        <div class="scroll_produkt">
          <img src="/src/assets/mobilimg4.png" alt="placeholder" />
        </div>
        <div class="scroll_produkt">
          <img src="/src/assets/mobilimg4.png" alt="placeholder" />
        </div>
        <div class="scroll_produkt">
          <img src="/src/assets/mobilimg4.png" alt="placeholder" />
        </div>
      </div>

      <!-- Grid med 2 kolonner: 1 del og 2 dele -->
      <div class="img_grid2">
        <div class="felt5">
          <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
          <ImgTekstGalleri
            src="/src/assets/mobilimg5.png"
            alt=""
            title="Titel 5"
          />
        </div>
        <div class="felt6">
          <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
          <ImgTekstGalleri
            src="/src/assets/mobilimg6.png"
            alt=""
            title="Titel 6"
          />
        </div>
      </div>

      <div class="felt7">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg7.png"
          alt=""
          title="Titel 7"
        />
      </div>
      <div class="felt8">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg8.png"
          alt=""
          title="Titel 8"
        />
      </div>

      <div class="felt9">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg9.png"
          alt=""
          title="Titel 9"
        />
      </div>
      <div class="felt10">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/mobilimg10.png"
          alt=""
          title="Titel 10"
        />
      </div>
    </div>
  </main>

  <Footer />

  <style>
    html {
      scroll-behavior: smooth;
      background-color: var(--bg);
    }
    main {
      padding-top: 1rem;
    }
    h1 {
      color: var(--Red, #a6192e);
      font-family: "Futura", sans-serif;
      font-size: 4.5625rem;
      font-weight: 700;
      margin-top: 6rem;
    }
    .unika_lodret {
      font-family: "Gabriela", serif;
      font-size: 1.4rem;
      color: var(--Red, #a6192e);
      writing-mode: vertical-rl; /* Skriver teksten lodret */
      transform: rotate(180deg); /* Roterer teksten */
      margin-bottom: 0.5rem;
      font-weight: 200;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto; /* automatisk tilpasser højden på rækkerne */
    }
    /*sikrer at billederne fylder hele feltet og ikke forvrænges*/
    .grid img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* beskærer billedet hvis det ikke passer i størrelsesforholdet */
      display: block;
    }

    .felt1 {
      border-top: 1px solid black;
      grid-column: 1 / -1; /*feltet fylder hele bredden af gridet*/
    }
    .felt2 {
      border-right: 1px solid black;
    }

    /* FELTET MED SCROLL */
    .felt4 {
      overflow-x: auto; /* gør det muligt at scrolle vandret */
      display: flex;
      position: relative; /* gør det muligt at placere teksten (scroll-title) absolut i forhold til denne wrapper */
      grid-column: 1 / -1; /*feltet fylder hele bredden af gridet*/
    }

    /* TITLEN PÅ SCROLLBILLED */
    .scroll-title {
      position: absolute; /* gør det muligt at placere teksten (scroll-title) absolut i forhold til denne wrapper */
      top: 8px; /* placerer teksten 8px fra toppen */
      left: 8px; /* placerer teksten 8px fra venstre */
      padding: 4px 8px;
      font-size: 0.75rem;
      font-family: "Futura", sans-serif;
      z-index: 20; /* sikrer at teksten er ovenpå billedet */
    }

    /* SCROLLBILLED */
    .scroll_produkt {
      min-width: 40%; /* sikre at man kan se flere billeder på en gang: flere billeder i viewpointen */
      flex-shrink: 0; /* forhindrer at billedet skrumper */
    }
    /*række med 2 kolonner: 1 del og 2 dele*/
    .img_grid2 {
      display: grid;
      grid-template-columns: 1fr 2fr; /*deler gridet op i en smal og bred kolonne*/
      grid-column: 1 / -1; /*feltet fylder hele bredden af gridet*/
    }
    .felt5 {
      grid-column: 1; /*placerer feltet i den første kolonne*/
      border-right: 1px solid black;
    }
    .felt6 {
      grid-column: 2; /*placerer feltet i den anden kolonne*/
    }

    .felt9 {
      border-right: 1px solid black;
    }

    /*giver vandrette sorte linjer*/
    .felt1,
    .felt2,
    .felt3,
    .felt4,
    .felt5,
    .felt6,
    .felt7,
    .felt8,
    .felt9,
    .felt10 {
      border-bottom: 1px solid black;
    }
  </style>
</Layout>
