---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <div class="grid_galleri">
      <div class="grid">
        <div class="felt1"><img src="/src/assets/mobilimg1.jpg" alt="" /></div>
        <div class="felt2"><img src="/src/assets/mobilimg2.png" alt="" /></div>
        <div class="felt3"><img src="/src/assets/mobilimg3.png" alt="" /></div>
        <div class="felt4">
          <div class="scroll_produkt">
            <img src="/src/assets/mobilimg4.png" alt="placeholder" />
          </div>
          <div class="scroll_produkt">
            <img src="/src/assets/mobilimg4.png" alt="placeholder" />
          </div>
          <div class="scroll_produkt">
            <img src="/src/assets/mobilimg4.png" alt="placeholder" />
          </div>
          <div class="scroll_produkt">
            <img src="/src/assets/mobilimg4.png" alt="placeholder" />
          </div>
          <div class="scroll_produkt">
            <img src="/src/assets/mobilimg4.png" alt="placeholder" />
          </div>
        </div>
        <div class="img_grid2">
          <div class="felt5">
            <img src="/src/assets/mobilimg5.png" alt="" />
          </div>
          <div class="felt6">
            <img src="/src/assets/mobilimg6.png" alt="" />
          </div>
        </div>

        <div class="felt7"><img src="/src/assets/mobilimg7.png" alt="" /></div>
        <div class="felt8"><img src="/src/assets/mobilimg8.png" alt="" /></div>

        <div class="felt9"><img src="/src/assets/mobilimg9.png" alt="" /></div>
        <div class="felt10">
          <img src="/src/assets/mobilimg10.png" alt="" />
        </div>
      </div>
    </div>
  </main>

  <Footer />

  <style>
    /* GALLERI */
    html {
      scroll-behavior: smooth;
      background-color: var(--bg);
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }

    .felt1 {
      grid-column: 1/-1;
    }
    .felt2 {
      border-right: 1px solid black;
    }

    .felt4 {
      overflow-x: auto;
      display: flex;
      grid-column: 1/-1;
    }
    .scroll_produkt {
      min-width: 36%;
      flex-shrink: 0;
    }
    .img_grid2 {
      display: grid;
      grid-template-columns: 2fr 2fr; /* Venstre kolonne: 1 del, højre: 2 dele */
      grid-column: 1/-1;
      grid-auto-rows: auto;
    }
    .felt5 {
      grid-column: 1;
      border-right: 1px solid black;
    }
    .felt6 {
      grid-column: 2;
    }
    .felt9 {
      border-right: 1px solid black;
    }
    .felt1,
    .felt2,
    .felt3,
    .felt4,
    .felt5,
    .felt6,
    .felt7,
    .felt8,
    .felt9,
    .felt10 {
      border-bottom: 1px solid black;
    }
  </style>
</Layout>
