---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
import ImgTekstGalleri from "../components/ImgTekstGalleri.astro";
---

<Layout>
  <Header />
  <main>
    <!-- HERO -->
    <section class="galleri_hero bg_lamper">
      <span class="galleri_tekst">galleri</span>
      <span class="unika_tekst">unika</span>
    </section>

    <!-- GALLERI -->
    <div class="grid">
      <div class="felt1">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="/src/assets/lokal_kontakt.webp"
          alt=""
          title="Titel 1"
        />
      </div>

      <div class="felt2_tekst">
        her får du et kig ind i vores skiftende udvalg. alle varer er unika og
        kan kun købes i butikken – kig forbi og oplev det hele selv.
      </div>
      <div class="felt2">
        <ImgTekstGalleri
          src="../src/assets/galleri3.webp"
          alt="grøn-blå vase i keramik"
        />
      </div>
      <div class="felt3">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="../src/assets/galleri2.webp"
          alt="lys-grøn vase i keramik"
          title="Titel 3"
        />
      </div>

      <!-- SROLLBAR -->

      <div class="felt4">
        <span class="scroll-title">Scroll</span>
        <div class="scroll_produkt">
          <img
            src="../src/assets/galleri8.webp"
            alt="brun keramik kop fremstillet i japan"
          />
        </div>
        <div class="scroll_produkt">
          <img
            src="../src/assets/galleri8.webp"
            alt="brun keramik kop fremstillet i japan"
          />
        </div>
        <div class="scroll_produkt">
          <img
            src="../src/assets/galleri8.webp"
            alt="brun keramik kop fremstillet i japan"
          />
        </div>
        <div class="scroll_produkt">
          <img
            src="../src/assets/galleri8.webp"
            alt="brun keramik kop fremstillet i japan"
          />
        </div>
        <div class="scroll_produkt">
          <img
            src="../src/assets/galleri8.webp"
            alt="brun keramik kop fremstillet i japan"
          />
        </div>
      </div>

      <!-- Grid med 2 kolonner: 1 del og 2 dele -->
      <div class="img_grid2">
        <div class="felt5">
          <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
          <ImgTekstGalleri
            src="../src/assets/grid3.webp"
            alt=""
            title="Titel 5"
          />
        </div>
        <div class="felt6">
          <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
          <ImgTekstGalleri
            src="../src/assets/galleri4.webp"
            alt="unika rispapirs lampe med rød skitse"
            title="Titel 6"
          />
        </div>
      </div>

      <div class="felt7">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="../src/assets/galleri6.webp"
          alt="en hvid keramik vase med brede riller"
          title="Titel 7"
        />
      </div>
      <div class="felt8">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="../src/assets/galleri7.webp"
          alt="to hvide skåle i keramik stablet ovenpå hinanden"
          title="Titel 8"
        />
      </div>

      <div class="felt9">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="../src/assets/lokal_galleri.webp"
          alt="kaffe og diverse på et bord på lokal"
          title="Titel 9"
        />
      </div>
      <div class="felt10">
        <!-- Bruger komponenten ImgTekstGalleri og giver den et billede + tekst -->
        <ImgTekstGalleri
          src="../src/assets/galleri5.webp"
          alt="keramik skulptur af en dame med mønstret tørklæde"
          title="Titel 10"
        />
      </div>
    </div>
    <div class="filter_productlist">
      <label for="filter" class="filter_label">
        <img
          src="/src/assets/arrow_right.svg"
          alt="filter pil"
          class="filter_icon"
        />
        <span class="filter_text">Se gamle produkter</span>
      </label>

      <select name="filter" id="filter">
        <option value="all" selected="selected">se gamle produkter</option>
      </select>
    </div>
  </main>

  <Footer />

  <style>
    main {
      padding-top: 1rem;
    }

    select {
      appearance: none; /*Fjerner standard-styling */
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; /* Gør select usynlig, men stadig funktionel */
      cursor: pointer;
    }

    .filter_productlist {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
      cursor: pointer;
      position: relative;
      margin: 20px;
    }

    .filter_label {
      display: flex;
      align-items: center;

      gap: 5px;
      cursor: pointer;
    }
    .filter_icon {
      width: 2rem;
      height: 2rem;
      padding-right: 0.3rem;
      cursor: pointer;
      aspect-ratio: 1 / 1;
    }
    .filter_text {
      color: var(--black);
      font-family: "Futura", sans-serif;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .galleri_hero {
      display: flex;
      /* så 'os' følger 'kontakt' nederst */
      align-items: baseline;
      gap: 0.2rem;
      margin-bottom: 2rem;
      padding-top: clamp(8rem, 22vw, 25rem);
      padding-left: 1rem;
    }
    .bg_lamper {
      background-image: url("../assets/kontakt_lamper.webp");
      background-position: top -8px right 1px;
      background-repeat: no-repeat;
      background-size: 70%;
    }
    .galleri_tekst {
      font-family: "Futura", sans-serif;
      color: var(--accent);
      font-size: 4.56rem;
      font-weight: 700;
      line-height: 1;
      margin: 0;
    }
    .unika_tekst {
      font-family: "Gabriela", serif;
      font-size: 1.4rem;
      color: var(--accent);
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      margin-bottom: 0.5rem;
      z-index: 1;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto; /* automatisk tilpasser højden på rækkerne */
    }
    /*sikrer at billederne fylder hele feltet og ikke forvrænges*/
    .grid img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* beskærer billedet hvis det ikke passer i størrelsesforholdet */
      display: block;
    }

    .felt1 {
      border-top: 2px solid black;
      grid-column: 1 / -1; /*feltet fylder hele bredden af gridet*/
      border-bottom: 2px solid black;
    }
    .felt2 {
      grid-row: 2 / span 1; /* placerer feltet i første række */
      grid-column: 2 / span 1; /* placerer feltet i første kolonne */
    }
    .felt2_tekst {
      font-family: "Futura", sans-serif;
      font-size: 1rem;
      padding: 10px;
      color: var(--black);
      grid-column: 1 / span 2; /*feltet fylder hele bredden af gridet*/
      grid-row: 2;
    }
    .felt3 {
      border-top: 2px solid black;
      grid-column: 1 / -1; /* placerer feltet i første kolonne */
      border-bottom: 2px solid black;
    }

    /* FELTET MED SCROLL */
    .felt4 {
      overflow-x: auto; /* gør det muligt at scrolle vandret */
      grid-row: 4 / span 1; /* placerer feltet i anden række */
      grid-column: 1 / span 2; /*feltet fylder hele bredden af gridet*/
      display: flex;
      background-image: url("../assets/arrow_right.svg");
      background-repeat: no-repeat;
      background-position: right 10px bottom 10px;
      background-size: clamp(1rem, 5vw, 2.5rem);
      border-bottom: solid black 2px;
    }

    /* TITLEN PÅ SCROLLBILLED */
    .scroll-title {
      position: sticky; /* gør det muligt at placere teksten (scroll-title) absolut i forhold til denne wrapper */
      top: 4px; /* placerer teksten 8px fra toppen */
      left: 8px; /* placerer teksten 8px fra venstre */
      padding: 10px 8px;
      font-size: 0.75rem;
      font-family: "Futura", sans-serif;
      z-index: 20; /* sikrer at teksten er ovenpå billedet */
    }

    /* SCROLLBILLED */
    .scroll_produkt {
      min-width: 40%; /* sikre at man kan se flere billeder på en gang: flere billeder i viewpointen */
      flex-shrink: 0; /* forhindrer at billedet skrumper */
      margin-bottom: 30px;
    }
    /*række med 2 kolonner: 1 del og 2 dele*/
    .img_grid2 {
      display: grid;
      grid-template-columns: 1fr 2fr; /*deler gridet op i en smal og bred kolonne*/
      grid-column: 1 / -1; /*feltet fylder hele bredden af gridet*/
    }
    .felt5 {
      grid-column: 1; /*placerer feltet i den første kolonne*/
      border-right: 2px solid black;
      border-bottom: 2px solid black;
    }
    .felt6 {
      grid-column: 2; /*placerer feltet i den anden kolonne*/
      border-bottom: 2px solid black;
    }

    .felt9 {
      border-right: 2px solid black;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    .felt10 {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    /*giver vandrette sorte linjer*/
    /* .felt1,
    .felt2,
    .felt3,
    .felt4,
    .felt5,
    .felt6,
    .felt7,
    .felt8,
    .felt9,
    .felt10 {
      border-bottom: 2px solid black;
    } */

    @media (min-width: 800px) {
      .bg_lamper {
        background-position: top -70px right 10px;
        background-size: 50%;
      }
      .galleri_hero {
        padding-left: 2rem;
      }
      .galleri_tekst {
        font-size: 18.75rem;
      }
      .unika_tekst {
        font-size: 5.6rem;
      }
      .filter_text {
        font-size: 2.8rem;
      }
      .filter_icon {
        width: 4rem;
        height: 4rem;
        padding-right: 1rem;
      }
      .grid {
        grid-template-columns: repeat(12, 1fr); /* 3 kolonner i stedet for 2 */
        grid-auto-rows: 500px;
        border-top: 2px solid black;
      }

      .felt1 {
        grid-column: 7 / span 6;
        grid-row: 1 / 2;
        border: none;
      }

      .felt2 {
        grid-column: 3 / span 4;
        grid-row: 1 / 2;
        border-bottom: none;
        border-right: 2px solid black;
      }
      .felt2_tekst {
        grid-column: 1 / span 6;
        grid-row: 1 / 2;
        font-family: "Futura", sans-serif;
        font-size: 1.49rem;
        padding: 20px;
        color: var(--black);
      }

      .felt3 {
        grid-column: 1 / span 4;
        grid-row: 2;
        border-right: solid 2px black;
        border-top: 2px solid black;
        border-bottom: none;
      }
      .img_grid2 {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 500px;
        grid-column: 5 / span 8; /* feltet fylder hele bredden af gridet */
        grid-row: 2;
        border-top: 2px solid black;
      }
      .scroll_produkt img {
        width: 90%;
        height: 90%;
      }
      .scroll_produkt {
        min-width: 25%;
      } /*sikre */

      .felt4 {
        /* align-items: center; */
        padding: 0;
        margin: 0;
        align-items: center;
        overflow-x: auto;
        grid-column: 1 / -1; /* sikrer den fylder hele bredden af grid */
        grid-row: 3 / 4;
        width: 100%;
        box-sizing: border-box;
        display: flex; /* gør det til en vandret scroller */
        background-position: right 20px bottom 20px;
        border-top: 2px solid black;
      }

      .scroll-title {
        margin-top: 1rem;
        align-self: flex-start;
        font-size: 1rem;
      }

      .felt7 {
        grid-column: 1 / span 3;
        grid-row: 4;
        border-bottom: 2px solid black;
      }
      .felt8 {
        grid-column: 4 / span 3;
        grid-row: 4;
        border-bottom: 2px solid black;
      }
      .felt9 {
        grid-column: 10 / span 3;
        grid-row: 4;
        border-left: 2px solid black;
        border-top: none;
      }
      .felt10 {
        grid-column: 7 / span 3;
        grid-row: 4;
        border-top: none;
        border-left: 2px solid black;
      }
    }
  </style>
</Layout>
