---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <section class="hero">
      <video
        class="hero_logo"
        autoplay
        muted
        playsinline
        onended="this.pause(); this.currentTime = this.duration - 0.01;"
      >
        <source src="/src/assets/logo.mp4" type="video/mp4" />
      </video>
      <div class="hero_text">
        <h1 class="lokal">lokal</h1>
        <span class="cph">cph</span>
      </div>
    </section>
    <section class="info">
      <div class="info_text">
        <h2 class="se_menu">se menu</h2>
        <div class="line"></div>
        <div class="line" id="longer"></div>
        <p>åben mandag til fredag 8.00 - 16.00</p>
        <p>lørdag 9.00 - 15.00</p>
        <div class="line"></div>
        <p>book os til dit private arrangement</p>
        <a href="kontakt.astro">læs mere her</a>
      </div>
      <img
        src="src/assets/lokal_index.webp"
        alt="billede af en kop kaffe på et bord på lokal"
        class="info_img"
      />
    </section>
    <section class="baggrund_menu_img">
      <div class="menu_grid">
        <div>
          <span>espresso</span><span>25</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>pour over</span><span>60/100</span>
        </div>
        <div>
          <span>americano</span><span>32</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>ice coffee</span><span>42/45</span>
        </div>
        <div>
          <span>cortado</span><span>32</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>cold brew</span><span>40</span>
        </div>
        <div>
          <span>flat white</span><span>40</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>saft/brus</span><span>35/37</span>
        </div>
        <div>
          <span>cafe latte</span><span>40</span><span class="usynlig">xx</span>
        </div>
        <div class="usynlig">
          <span>cafe latte</span><span>40</span><span class="usynlig">x</span>
        </div>
        <div>
          <span>cappuchino</span><span>40</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>bmo</span><span>37</span>
        </div>
        <div>
          <span>sing te </span><span>35</span><span class="usynlig">xx</span>
        </div>
        <div>
          <span>crossaint</span><span>42</span>
        </div>
        <div>
          <span>matcha</span><span>40</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>kaffe kort</span><span>300</span>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  /* HERO */

  .hero {
    background-color: var(--bg);
    padding: 1rem;
  }

  .hero-layer {
    display: grid;
    place-items: center;
    position: relative;
  }

  .hero_logo {
    width: clamp(300px, 30vw, 600px);
    height: auto;
    margin-top: clamp(4rem, 10vw, 9rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease;
  }

  .hero_text {
    grid-area: 1 / 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 0.25rem;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .lokal {
    font-family: "Futura", sans-serif;
    color: var(--accent);
    font-size: clamp(9.375rem, 12vw, 12rem);
    font-weight: 700;
    line-height: 1;
    transition: font-size 0.3s ease;
    text-align: left;
    align-self: flex-end;
    margin: 0;
  }

  .cph {
    font-family: "Gabriela", serif;
    font-size: clamp(2rem, 2vw, 1.875rem);
    color: var(--accent);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 1rem;
    transition: font-size 0.3s ease;
  }

  /* INFO */

  .info {
    background-color: var(--bg);
  }

  .info_text {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    text-align: right;
    gap: 0.5rem;
  }

  .line {
    border-top: 2px solid var(--accent);
    padding-top: 0.8rem;
    margin: 0.5rem 0 0.5rem 9.5rem;
  }

  #longer {
    margin: 20px 0 20px 60px;
  }

  h2 {
    font-family: "Futura", sans-serif;
    font-weight: 500;
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1;
    margin: 0;
    padding: 0 0.5rem;
  }

  h2:hover {
    color: var(--bg);
    -webkit-text-stroke: 1px var(--black);
  }

  p {
    font-family: "Futura", sans-serif;
    color: var(--black);
    font-size: 0.9375rem;
    line-height: 1.2;
    margin: 0;
    padding-right: 0.5rem;
  }
  a {
    font-family: "Futura", sans-serif;
    color: var(--black);
    font-size: 0.9375rem;
    text-decoration: none;
    padding-right: 0.5rem;
  }

  a:hover {
    text-decoration: underline;
    color: var(--accent);
  }

  /* IMG */

  .info_img {
    width: 100%;
    max-width: 34.11244rem;
    height: auto;
    align-self: flex-start;
    position: static;
    margin-top: 0;
    z-index: 1;
  }

  /* KAFFE MENU */

  .baggrund_menu_img {
    position: relative;
    padding: 5rem 0 5rem 6rem;
    background-color: var(--bg);
    overflow: hidden;
  }

  .baggrund_menu_img::before {
    content: "";
    position: absolute;
    top: -11rem;
    left: -20rem;
    width: 600px;
    height: 100%;
    background-image: url("/src/assets/baggrund_menu_img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    z-index: 0;
    opacity: 70%;
  }

  .menu_grid {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem 0rem; /* afstand mellem rækker og kolonner */
    width: 100%;
    max-width: 800px;
    font-family: "Futura", sans-serif;
    font-size: 1rem;
  }

  .menu_grid > div {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0.3rem 0;
    border-bottom: 1.5px solid var(--black);
  }

  .usynlig {
    color: var(--bg);
  }

  /************* MEDIA QUERIES *************/

  @media screen and (min-width: 850px) {
    .hero {
      padding-left: 2rem;
    }

    .hero-layer {
      display: grid;
      place-items: center;
      position: relative;
    }

    .hero_logo {
      width: clamp(12.5rem, 40vw, 30rem);
      height: auto;
      grid-area: 1 / 1;
      z-index: 0;
      margin-left: 56rem;
      margin-top: 3.9rem;
      display: block;
      position: absolute;
    }

    .hero_text {
      grid-area: 1 / 1;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 0.25rem;
      z-index: 1;
      transition: all 0.3s ease;
      position: relative;
      margin-left: 0;
      margin-top: 23rem;
    }

    .lokal {
      font-family: "Futura", sans-serif;
      color: var(--accent);
      font-size: clamp(30.5rem, 12vw, 13.5rem);
      font-weight: 700;
      line-height: 1;
      z-index: 1;
      text-align: left;
    }

    .cph {
      font-family: "Gabriela", serif;
      font-size: clamp(5.5rem, 12vw, 4rem);
      color: var(--accent);
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      margin-bottom: 3.5rem;
      z-index: 1;
    }

    /* INFO */

    .info {
      background-color: var(--bg);
      margin-right: 27rem;
      margin-top: 8rem;
    }

    .info_text {
      display: flex;
      flex-direction: column;
      justify-content: right;
      text-align: right;
      gap: 0.5rem;
      position: relative;
      z-index: 10;
    }

    .line {
      border-top: 2px solid var(--accent);
      margin: 0.5rem 0 1rem 30.5rem;
      z-index: 2;
    }

    #longer {
      margin: 0.5rem 0 0.5rem 15.5rem;
    }

    h2 {
      font-family: "Futura", sans-serif;
      font-weight: 500;
      color: var(--black);
      font-size: 8rem;
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    h2:hover {
      color: var(--bg);
      -webkit-text-stroke: 1px var(--black);
    }

    p {
      font-family: "Futura", sans-serif;
      color: var(--black);
      font-size: 1.7rem;
      line-height: 1.2;
      margin: 0;
      padding: 0;
    }
    a {
      font-family: "Futura", sans-serif;
      color: var(--black);
      font-size: 1.4rem;
      text-decoration: none;
      padding: 0;
    }

    a:hover {
      text-decoration: underline;
      color: var(--accent);
    }

    /* IMG */

    .info_img {
      width: 100%;
      max-width: 34.11244rem;
      height: auto;
      align-self: flex-start;
      position: absolute;
      z-index: 1;
      margin-top: -30rem;
    }

    /* KAFFE MENU */

    .menu_grid {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.75rem 0rem; /* afstand mellem rækker og kolonner */
      width: 100%;
      max-width: 1200px;
      font-family: "Futura", sans-serif;
      font-size: 1.7rem;
    }

    .menu_grid > div {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding: 0.3rem 0;
      border-bottom: 1.5px solid var(--black);
    }

    .usynlig {
      color: var(--bg);
    }

    .baggrund_menu_img {
      position: relative;
      padding: 20rem 0 5rem 40rem;
      background-color: var(--bg);
      overflow: hidden;
    }

    .baggrund_menu_img::before {
      content: "";
      position: absolute;
      top: -4rem;
      left: -12rem;
      width: 57rem;
      height: 100%;
      background-image: url("/src/assets/baggrund_menu_img.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
      z-index: 0;
      opacity: 50%;
    }
  }
</style>
