---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Scroll_galleri from "../components/scroll.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <section class="hero" id="top">
      <video
        class="hero_logo"
        id="heroLogo"
        autoplay
        muted
        playsinline
        onended="this.pause(); this.currentTime = this.duration - 0.01;"
      >
        <source src="../src/assets/logo.mp4" type="video/mp4" />
      </video>
      <div class="hero_text_wrapper" id="scrollHero">
        <div class="hero_text">
          <h1 class="lokal">lokal</h1>
          <span class="cph">cph</span>
        </div>
      </div>
    </section>

    <section class="info">
      <div class="info_text">
        <h2 class="se_menu"><a href="#se_menu">se menu</a></h2>
        <div class="line"></div>
        <div class="line" id="longer"></div>
        <p>åben mandag til fredag 8.00 - 16.00</p>
        <p>lørdag - søndag 9.00 - 15.00</p>
        <div class="line"></div>
        <p>book os til dit private arrangement</p>
        <a class="mere_her" href="/kontakt">læs mere her</a>
      </div>
      <img
        src="src/assets/lokal_index.webp"
        alt="billede af en kop kaffe på et bord på lokal"
        class="info_img"
        width="270"
        height="330"
      />
    </section>
    <section class="baggrund_menu_img" id="se_menu">
      <div class="menu_grid">
        <div>
          <span>espresso</span><span>25</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>pour over</span><span>60/100</span>
        </div>
        <div>
          <span>americano</span><span>32</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>ice coffee</span><span>42/45</span>
        </div>
        <div>
          <span>cortado</span><span>32</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>cold brew</span><span>40</span>
        </div>
        <div>
          <span>flat white</span><span>40</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>saft/brus</span><span>35/37</span>
        </div>
        <div>
          <span>cafe latte</span><span>40</span><span class="usynlig">xx</span>
        </div>
        <div class="usynlig">
          <span>cafe latte</span><span>40</span><span class="usynlig">x</span>
        </div>
        <div>
          <span>cappuchino</span><span>40</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>bmo</span><span>37</span>
        </div>
        <div>
          <span>sing te </span><span>35</span><span class="usynlig">xx</span>
        </div>
        <div>
          <span>crossaint</span><span>42</span>
        </div>
        <div>
          <span>matcha</span><span>40</span><span class="usynlig">25</span>
        </div>
        <div>
          <span>kaffe kort</span><span>300</span>
        </div>
      </div>
    </section>

    <!-- GALLERI -->
    <section class="gallery-grid">
      <!-- TOMME FELTER -->
      <div class="empty empty1"></div>
      <div class="empty empty2"></div>
      <div class="empty empty3"></div>
      <div class="empty empty4"></div>
      <div class="empty empty5"></div>
      <div class="empty empty6"></div>
      <div class="empty empty7"></div>
      <div class="empty empty8"></div>
      <div class="empty empty9"></div>
      <div class="empty empty10"></div>
      <div class="empty empty11"></div>
      <div class="empty empty12"></div>

      <div class="empty empty_galleri">
        <a href="/galleri"><h2 class="galleri_tekst">galleri</h2></a>
      </div>
      <div class="empty empty13"></div>
      <div class="empty empty14"></div>
      <div class="empty empty15"></div>
      <div class="empty empty16"></div>
      <div class="empty empty17"></div>
      <div class="empty empty_cta">
        <a href="/galleri" class="galleri_cta_wrapper">
          <div class="galleri_cta">
            <img src="src/assets/arrow_right.svg" alt="cta pil" />
            <h3>udforsk</h3>
          </div>
        </a>
      </div>
      <!-- fylder de tomme felter -->
      <div class="item img1">
        <img
          src="src/assets/grid1.webp"
          alt="kaffe og diverse på et bord på lokal"
        />
      </div>
      <div class="item img2">
        <img
          src="src/assets/grid2.webp"
          alt="keramik skulptur af en dame med mønstret tørklæde"
          class="normal"
        />
        <img src="src/assets/grid2-hover.webp" alt="hover" class="hover" />
      </div>
      <div class="item img3">
        <img
          src="src/assets/grid3.webp"
          alt="hvid unika rispapirs lampe"
          class="normal"
        />
        <img src="src/assets/grid3-hover.webp" alt="hover" class="hover" />
      </div>
      <div class="item img4">
        <img
          src="src/assets/grid4.webp"
          alt="hvid keramik kop med riller fremstillet i japan"
          class="normal"
        />
        <img src="src/assets/grid4-hover.webp" alt="hover" class="hover" />
      </div>
      <div class="item img5">
        <img
          src="src/assets/grid5.webp"
          alt="unika rispapirs lampe med rød skitse"
        />
        <img src="src/assets/grid5-hover.webp" alt="hover" class="hover" />
      </div>
      <div class="item img6">
        <img
          src="src/assets/grid6.webp"
          alt="hvid keramik kop med dybe riller fremstillet i japan"
          class="normal"
        />
        <img src="src/assets/grid6-hover.webp" alt="hover" class="hover" />
      </div>
      <div class="item img7">
        <img
          src="src/assets/grid7.webp"
          alt="bøger og diverse på et bord på lokal"
        />
      </div>
      <div class="item img8">
        <img
          src="src/assets/grid8.webp"
          alt="blå unika vase fremstillet i japan"
          class="normal"
        />
        <img src="src/assets/grid8-hover.webp" alt="hover" class="hover" />
      </div>
    </section>

    <Scroll_galleri text="følg os" />
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const scrollHero = document.getElementById("scrollHero")!;
        const headerLogo = document.getElementById("headerLogo")!;
        const heroLogo = document.getElementById("heroLogo");

        if (!scrollHero || !headerLogo) return;

        const maxScroll = 400;

        function update() {
          const scroll = Math.min(window.scrollY, maxScroll);
          const progress = scroll / maxScroll;

          const startRect = scrollHero.getBoundingClientRect();
          const endRect = headerLogo.getBoundingClientRect();

          const deltaX = endRect.left - startRect.left;
          const deltaY = endRect.top - startRect.top;
          const scale = endRect.width / startRect.width;

          scrollHero.style.transform = `
        translate(${deltaX * progress}px, ${deltaY * progress}px)
        scale(${1 + (scale - 1) * progress})
      `;

          // Fade scrollHero ud – men headerLogo er altid synlig
          // Fade in/out afhængig af scroll
          scrollHero.style.opacity = `${1 - progress}`;
          if (heroLogo) {
            heroLogo.style.opacity = `${1 - progress}`;
          }
        }

        window.addEventListener("scroll", update);
        window.addEventListener("resize", update);
        update(); // initial
      });
    </script>

    <Footer />

    <style>
      html {
        scroll-behavior: smooth;
      }
      /* HERO */

      .hero {
        z-index: 100;
      }
      .hero-layer {
        display: grid;
        place-items: center;
        position: relative;
      }

      .hero_logo {
        width: clamp(300px, 30vw, 600px);
        height: auto;
        padding-top: clamp(4rem, 10vw, 9rem);
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s ease;
      }

      .hero_logo {
        transition:
          transform 0.1s ease,
          opacity 0.1s ease;
        transform-origin: center center;
      }
      .hero_text {
        grid-area: 1 / 1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 0.25rem;
        z-index: 1;
        transition: all 0.3s ease;
      }

      .lokal {
        font-family: "Futura", sans-serif;
        color: var(--accent);
        font-size: clamp(7.8rem, 12vw, 12rem);
        font-weight: 700;
        line-height: 1;
        transition: font-size 0.3s ease;
        text-align: left;
        align-self: flex-end;
        margin: 0;
      }

      .cph {
        font-family: "Gabriela", serif;
        font-size: clamp(2rem, 2vw, 1.875rem);
        color: var(--accent);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin-bottom: 1.5rem;
        transition: font-size 0.3s ease;
      }

      /* INFO */

      .info {
        background-color: var(--bg);
        min-height: 300px;
      }

      .info_text {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        gap: 0.5rem;
      }

      .line {
        border-top: 2px solid var(--accent);
        padding-top: 0.8rem;
        margin: 0.5rem 0 0.5rem 9.5rem;
      }

      #longer {
        margin: 20px 0 20px 60px;
      }

      .se_menu a {
        font-family: "Futura", sans-serif;
        font-weight: 500;
        color: var(--black);
        font-size: 3.5rem;
        margin: 0;
        padding: 0 0.5rem;
        text-decoration: none;
      }

      .se_menu a:hover {
        color: var(--bg);
        -webkit-text-stroke: 1px var(--black);
      }

      p {
        font-family: "Futura", sans-serif;
        color: var(--black);
        font-size: 0.9375rem;
        line-height: 1.2;
        margin: 0;
        padding-right: 0.5rem;
      }
      a {
        font-family: "Futura", sans-serif;
        color: var(--black);
        font-size: 0.9375rem;
        padding-right: 0.5rem;
        text-decoration: none;
      }

      a.mere_her {
        color: var(--accent);
        text-decoration: underline;
        padding-bottom: 1rem;
      }
      a:hover {
        scale: 1.01;
      }

      /* IMG */

      .info_img {
        width: 100%;
        max-width: 16.625rem;
        height: auto;
        object-fit: cover;
        align-self: flex-start;
      }

      /* KAFFE MENU */

      .baggrund_menu_img {
        position: relative;
        padding: 5rem 0 5rem 6rem;
        background-color: var(--bg);
        overflow: hidden;
      }

      .baggrund_menu_img::before {
        content: "";
        position: absolute;
        top: -11rem;
        left: -20rem;
        width: 600px;
        height: 100%;
        background-image: url("/src/assets/baggrund_menu_img.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        z-index: 0;
        opacity: 70%;
      }

      .menu_grid {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.75rem 0rem; /* afstand mellem rækker og kolonner */
        width: 100%;
        max-width: 800px;
        font-family: "Futura", sans-serif;
        font-size: 1rem;
      }

      .menu_grid > div {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 0.3rem 0;
        border-bottom: 1.5px solid var(--black);
      }

      .usynlig {
        color: var(--bg);
      }

      /* GRID */
      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 130px;
        padding: 2px;
        margin-top: 3rem;
        margin-bottom: 6rem;
      }

      .galleri_tekst {
        color: var(--accent);
      }

      /* CTA GALLERI */
      .galleri_cta_wrapper {
        display: flex;
        justify-content: flex-end; /* placerer indholdet til højre */
        text-decoration: none;
        padding-right: 0.5rem;
      }

      .galleri_cta_wrapper h3 {
        font-size: clamp(1.9rem, 4vw, 3rem);
      }

      .galleri_cta_wrapper:hover {
        color: var(--bg);
        -webkit-text-stroke: 0.5px var(--black);
      }

      .galleri_cta {
        display: flex;
        align-items: center; /* sikrer at tekst og billede flugter lodret */
        gap: 0.5rem; /* afstand mellem tekst og pil */
      }

      .galleri_cta img {
        width: 3rem;
        height: 3rem;
        transition: transform 0.1s;
      }

      /* Hover-effekt på galleri tekst */
      .galleri_tekst:hover {
        color: var(--bg);
        -webkit-text-stroke: 1px var(--black);
      }
      /* fjerne underline på galleri hover */
      .empty a:hover {
        text-decoration: none;
      }

      .empty_galleri {
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      .empty_galleri h2 {
        font-size: clamp(3.4rem, 10vw, 10rem);
      }

      .item {
        position: relative; /* så billederne kan placeres ovenpå hinanden */
        z-index: 1; /* så billederne kan placeres ovenpå hinanden */
      }

      .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      /* TOMME FELTER */
      .empty1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
      .empty2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
      .empty3 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
      .empty4 {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }

      .empty5 {
        display: none;
      }

      .empty6 {
        display: none;
      }

      .empty7 {
        display: none;
      }

      .empty8 {
        display: none;
      }

      .empty9 {
        display: none;
      }
      .empty10 {
        display: none;
      }
      .empty11 {
        display: none;
      }

      .empty12 {
        display: none;
      }

      .empty_galleri {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        outline: none;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: none;
        border-top: none;
      }

      .empty13 {
        display: none;
      }

      .empty14 {
        display: none;
      }

      .empty15 {
        display: none;
      }
      .empty16 {
        display: none;
      }
      .empty17 {
        display: none;
      }

      .empty_cta {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
        outline: none;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: none;
        border-bottom: none;
      }

      /* Grid placering */
      .img1 {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        outline: none;
        border-top: 2px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
      .img2 {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
      .img3 {
        grid-column: 2 / 3;
        grid-row: 5 / 7;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
      .img4 {
        grid-column: 1 / 2;
        grid-row: 7 / 9;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 2px solid black;
        border-right: 1px solid black;
      }

      .img5 {
        display: none;
      }

      .img6 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
      .img7 {
        display: none;
      }
      .img8 {
        display: none;
      }

      .item {
        position: relative; /* så billederne kan placeres ovenpå hinanden */
        z-index: 1; /* så billederne kan placeres ovenpå hinanden */
        overflow: hidden; /* så billederne ikke stikker ud */
      }

      .item img {
        position: absolute; /* så billederne kan placeres ovenpå hinanden */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* så billederne fylder hele feltet */
        display: block; /* så billederne vises som blokke, Fjerner du det whitespace nedenunder billedet. Sørger du for, at billedet fylder hele containerens bredde/højde som forventet */
        transition: opacity 0.2s ease;
      }

      .item img.hover {
        opacity: 0; /* skjuler hover billede som standard */
      }

      /* tilføjer hover billede */
      .item:hover img.hover {
        opacity: 1; /* viser det hover billede ved hover */
      }

      .item:hover img.normal {
        opacity: 0; /* skjuler det normale billede ved hover */
      }

      #scrollHero,
      .hero_logo {
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }
      @media (max-width: 600px) {
        #scrollHero,
        .hero_logo {
          transition: none;
          transform: none !important;
          opacity: 1 !important;
        }
      }
      /************* MEDIA QUERIES *************/

      @media screen and (min-width: 850px) {
        .hero {
          height: 100vh;

          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }

        .hero-layer {
          display: grid;
          place-items: center;
          position: relative;
        }

        .hero_logo {
          width: clamp(12.5rem, 40vw, 30rem);
          height: auto;
          grid-area: 1 / 1;
          z-index: 0;
          margin-left: 50rem;
          margin-top: -20.1rem;
          display: block;
          position: absolute;
          transition: opacity 0.1s ease;
          transform-origin: center center;
        }

        .hero_text {
          grid-area: 1 / 1;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 0.25rem;
          z-index: 1;
          transition: all 0.3s ease;
          position: relative;
          margin-left: 0;
          margin-top: 23rem;
        }

        #scrollHero,
        #headerLogo {
          will-change: transform, opacity;
        }

        .lokal {
          font-family: "Futura", sans-serif;
          color: var(--accent);
          font-size: clamp(30rem, 12vw, 13.5rem);
          font-weight: 700;
          line-height: 1;
          z-index: 1;
          text-align: left;
        }

        .cph {
          font-family: "Gabriela", serif;
          font-size: clamp(5.5rem, 12vw, 4rem);
          color: var(--accent);
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          margin-bottom: 3rem;
          z-index: 1;
        }

        .hero_text_wrapper {
          position: fixed;
          top: 0;
          left: 0;

          z-index: 100;
          pointer-events: none;
          transform-origin: top left;
          transition: transform 0.3s ease;
        }

        /* Fader header-logo ind */
        #headerLogo {
          transition: opacity 0.3s ease;
        }

        /* INFO */

        .info {
          background-color: var(--bg);
          margin-right: 22rem;
          margin-top: 8rem;
        }

        .info_text {
          display: flex;
          flex-direction: column;
          justify-content: right;
          text-align: right;
          gap: 0.5rem;
          position: relative;
          z-index: 10;
        }

        .se_menu a {
          font-size: 8rem;
        }
        .line {
          border-top: 2px solid var(--accent);
          margin: 0.5rem 0 1rem 30.5rem;
          z-index: 2;
        }

        #longer {
          margin: 0.5rem 0 0.5rem 15.5rem;
        }

        h2 {
          font-family: "Futura", sans-serif;
          font-weight: 500;
          color: var(--black);
          font-size: 8rem;
          line-height: 1;
          margin: 0;
          padding: 0;
        }

        h2:hover {
          color: var(--bg);
          -webkit-text-stroke: 1px var(--black);
        }

        p {
          font-family: "Futura", sans-serif;
          color: var(--black);
          font-size: 1.7rem;
          line-height: 1.2;
          margin: 0;
          padding: 0;
        }
        a {
          font-family: "Futura", sans-serif;
          color: var(--black);
          font-size: 1.4rem;
          text-decoration: none;
          padding: 0;
        }

        a:hover {
          scale: 1.01;
        }

        /* IMG */

        .info_img {
          width: 100%;
          max-width: 34.11244rem;
          height: auto;
          align-self: flex-start;
          position: absolute;
          z-index: 1;
          margin-top: -30rem;
        }

        /* KAFFE MENU */

        .menu_grid {
          position: relative;
          z-index: 1;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1.75rem 0rem; /* afstand mellem rækker og kolonner */
          width: 100%;
          max-width: 1200px;
          font-family: "Futura", sans-serif;
          font-size: 1.7rem;
        }

        .menu_grid > div {
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          padding: 0.3rem 0;
          border-bottom: 1.5px solid var(--black);
        }

        .usynlig {
          color: var(--bg);
        }

        .baggrund_menu_img {
          position: relative;
          padding: 20rem 0 5rem 40rem;
          background-color: var(--bg);
          overflow: hidden;
        }

        .baggrund_menu_img::before {
          content: "";
          position: absolute;
          top: -4rem;
          left: -12rem;
          width: 57rem;
          height: 100%;
          background-image: url("/src/assets/baggrund_menu_img.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left top;
          z-index: 0;
          opacity: 50%;
        }

        /* GRID */
        .gallery-grid {
          display: grid;
          grid-template-columns: repeat(6, 1fr); /* 6 kolonner */
          grid-auto-rows: 140px; /* automatisk højde på rækkerne */
          margin-top: 8rem;
          margin-bottom: 10rem;
        }
        .galleri_tekst {
          color: var(--accent);
        }

        .galleri_tekst:hover {
          color: var(--bg);
          -webkit-text-stroke: 1px var(--black);
        }

        .empty a:hover {
          text-decoration: none;
        }
        .item,
        .empty {
          background-color: var(--bg); /* samme som baggrund */
          outline: 1px solid black;
          outline-offset: -1px; /* så der ikke er mellemrum mellem felterne */
        }

        .item {
          position: relative;
          z-index: 1;
        }

        .item img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        /* TOMME FELTER */
        .empty1 {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          outline: none;
          border-right: 1px solid black;
          border-top: 2px solid black;
          border-bottom: 1px solid black;
        }
        .empty2 {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          outline: none;
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: none;
        }
        .empty3 {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
        }
        .empty4 {
          grid-column: 2 / 3;
          grid-row: 4 / 5;
        }

        .empty5 {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          display: block;
        }

        .empty6 {
          grid-column: 3 / 4;
          grid-row: 3 / 4;
          display: block;
        }

        .empty7 {
          grid-column: 4 / 5;
          grid-row: 5 / 6;
          display: block;
        }

        .empty8 {
          grid-column: 5 / 6;
          grid-row: 3 / 4;
          display: block;
        }

        .empty9 {
          grid-column: 5 / 6;
          grid-row: 4 / 5;
          display: block;
        }
        .empty10 {
          grid-column: 6 / 7;
          grid-row: 1 / 2;
          display: block;
          outline: none;
          border-top: 2px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        .empty11 {
          grid-column: 6 / 7;
          grid-row: 4 / 5;
          display: block;
          outline: none;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }

        .empty12 {
          grid-column: 6 / 7;
          grid-row: 5 / 6;
          display: block;
          outline: none;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }

        .empty_galleri {
          grid-column: 3 / 5;
          grid-row: 1 / 2;
          outline: none;
          border-bottom: 1px solid black;
          border-right: 1px solid black;
          border-left: 1px solid black;
          border-top: none;
        }

        .empty13 {
          grid-column: 2 / 3;
          grid-row: 5 / 6;
          display: block;
          outline: none;
          border-top: 1px solid black;
          border-right: 1px solid black;
          border-left: 1px solid black;
          border-bottom: none;
        }

        .empty14 {
          grid-column: 2 / 3;
          grid-row: 6 / 7;
          display: block;
          outline: none;
          border-left: 1px solid black;
          border-bottom: none;
        }

        .empty15 {
          grid-column: 4 / 5;
          grid-row: 5 / 6;
          display: block;
        }
        .empty16 {
          grid-column: 3 / 4;
          grid-row: 6 / 7;
          display: block;
          outline: none;
          border-top: 1px solid black;
          border-bottom: none;
        }
        .empty17 {
          grid-column: 4 / 5;
          grid-row: 6 / 7;
          display: block;
          outline: none;
          border-top: solid 1px black;
          border-right: 1px solid black;
          border-bottom: none;
        }

        .empty_cta {
          grid-column: 6 / 7;
          grid-row: 6 / 7;
          outline: none;
          border-left: 1px solid black;
          border-top: 1px solid black;
          border-bottom: none;
        }

        /* Grid placering */
        .img1 {
          grid-column: 2 / 3;
          grid-row: 1 / 3;
          outline: none;
          border-right: 1px solid black;
          border-top: 2px solid black;
          border-bottom: 1px solid black;
        }
        .img2 {
          grid-column: 5 / 6;
          grid-row: 1 / 3;
          outline: none;
          border-right: 1px solid black;
          border-top: 2px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        .img3 {
          grid-column: 4 / 5;
          grid-row: 2 / 5;
          outline: none;
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        .img4 {
          grid-column: 6 / 7;
          grid-row: 2 / 4;
          outline: none;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          border-right: none;
        }
        .img5 {
          grid-column: 1 / 2;
          grid-row: 3 / 5;
          display: block;
          outline: none;
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
        .img6 {
          grid-column: 3 / 4;
          grid-row: 4 / 6;
          outline: none;
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        .img7 {
          grid-column: 1 / 2;
          grid-row: 5 / 7;
          display: block;
          outline: none;
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 2px solid black;
        }
        .img8 {
          grid-column: 5 / 6;
          grid-row: 5 / 7;
          display: block;
          outline: none;
          border-top: 1px solid black;
          border-bottom: 2px solid black;
          border-left: 1px solid black;
          border-right: 1px solid black;
        }
      }
    </style>
  </main>
</Layout>
