<footer>
  <div class="footer">
    <div class="sociale">
      <p>sociale</p>
      <p>
        <a
          href="https://www.instagram.com/lokalcph/"
          target="_blank"
          rel="noopener noreferrer">instagram - @lokalcph</a
        >
      </p>
      <p>
        <a
          href="https://www.facebook.com/lokalcph/"
          target="_blank"
          rel="noopener noreferrer">facebook - Lokalcph</a
        >
      </p>
    </div>
    <div class="aabningstider">
      <p>åbningstider</p>
      <p>mandag til fredag 8 - 16</p>
      <p>lørdag 8 - 17</p>
    </div>
    <div class="grid">
      <h1>lokal</h1>
      <div class="kontakt">
        <p>email:</p>
        <p>anders@handcraftedcph.com</p>
        <p>tlf:</p>
        <p>51 91 13 53</p>
        <p>adresse:</p>
        <p>sønder boulevard 59</p>
      </div>
    </div>
  </div>
</footer>

<style>
  /* Styling af footer baggrundsbillede */
  .footer {
    background-image: url("/src/assets/footer-bg_result.webp");
    background-repeat: no-repeat;

    height: auto;
    margin-top: 7vh;
  }

  /* Grid til lokal og kontakt */
  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3/1 fordeling mellem h1 og kontakt */
    align-items: end; /* så de står nede i bunden fx */
    padding-top: 2rem;
  }

  /* Styling tekst */
  h1 {
    font-family: "Futura", sans-serif;
    color: var(--bg);
    font-size: clamp(6rem, 28vw, 30rem); /* responsivt */
    font-weight: 700;
    grid-column: 1;
    line-height: 1;
    align-self: end; /* det skal placeres i bunden af rækken */
    margin: 0;
  }
  .sociale {
    font-family: "Futura", sans-serif;
    font-weight: 500;
    font-size: clamp(0.8rem, 2vw, 1.1rem); /* responsivt */
    text-align: right;
    /* grid-column: 3 / 5; /* Dette er korrekt måde at placere i kolonne 2 til 3 (4 eksklusiv) */
    /* grid-row: 1; Placeres i første række */
    padding-right: 0.8rem; /* Tilføjer lidt afstand til højre */
    padding-top: 0.8rem;
  }

  .aabningstider {
    font-family: "Futura", sans-serif;
    font-weight: 500;
    font-size: clamp(0.8rem, 2vw, 1.1rem); /* responsivt */
    text-align: right;
    grid-column: 3 / 5; /* Dette er korrekt måde at placere i kolonne 2 til 3 (4 eksklusiv) */
    grid-row: 2; /* Placeres i første række */
    padding-right: 0.8rem; /* Tilføjer lidt afstand til højre */
    padding-top: 6vh;
  }

  .kontakt {
    font-family: "Futura", sans-serif;
    font-weight: 500;
    font-size: clamp(0.8rem, 2vw, 1.1rem); /* responsivt */
    grid-column: 2;
    padding-right: 0.6rem; /* Tilføjer lidt afstand til højre */
  }

  .footer a,
  p {
    color: var(--bg);
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
</style>
